*
{
	box-sizing: border-box;
	font-family: verdana;
	font-size: 16px;
}

h1
{
	margin: 0;
	text-align: center;
	padding: 20px 20px 60px 20px;
	font-size: 2.5em;
}


#c1
{
	background-color: red;
}

#c2
{
	background-color: green;
}

#c3
{
	background-color: blue;
}

.row
{
	width: 100%;
	clear: both;
	margin: 0;
	padding: 0;
}

.col-lg-4
{
	width: 33.33%;
	float:left;
}

.container
{
	margin: 10px;
	background-color: gray;
	border:3px solid black;
	overflow: auto;

}

.title
{
	border:3px solid black;
	padding: 5px 10px 5px 10px;
	margin: 0;
	float: right;
	font-size: 1.5em;
}

.content
{
	padding: 10px 30px 10px 30px; 
	margin: 0;
	float: left;
	font-size: 1.2em;
}

@media (min-width:0px) and (max-width: 767px)
{
	.col-sm-12
	{
	width:100%;
	float: left;
	}

}

@media (min-width: 768px) and (max-width: 991px)
{
	.col-md-6
	{
		width:50%;
		float: left;
	}

	.col-md-12
	{
		width: 100%;
		float:left;
	}
}